@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');



body {
    font-family: 'Silkscreen', monospace;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh; /* Adapt to screen height */
    padding-bottom: 2rem; /* So the footer doesn't*/

}

h3 {
    font-family: 'Silkscreen', monospace;
    font-size: 1.17em;
    text-align: center;
    transition: 0.2s ease-out;
    text-wrap: wrap;

}

p {
    font-family: 'Space Mono', monospace;
    margin: 0 0 10px 0;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: #e7e7e7;
}

.sidebar {
    width: 30%;
    background-color: #c1c1c1;
    padding: 20px;
    overflow-y: auto;
}

.content {
    flex: 1;
    width: 70%;
    padding: 20px;
    overflow-y: auto;
}

.country-checkboxes {
    font-family: 'Space Mono', monospace;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.country-checkboxes label {
    display: flex;
    align-items: center;
    min-width: 180px;
}

.artistcolumn {
    display: flex;
    flex-flow: row wrap;
}

.artistbox {
    font-family: 'Space Mono', monospace;
    text-align: center;
    text-wrap: wrap;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 240px;
    /* height: auto; */
    margin: 10px 30px;
    border-radius: 10px;
    box-shadow: 6px 8px 10px rgba(104, 104, 104, 0.244);
    transition: 0.2s ease-out;
    background-color: #b7b7b7;

    align-self: flex-start; /* Prevent stretching */
    flex-grow: 0; /* Ensure no extra growth */
}

.artist-image {
    display: inline-block;
    vertical-align: middle;
    /* picture files are 240 by 240 */
    width: 240px;
    height: auto;
    /* margin-right: 160px; */
    transition: 0.2s ease-out;
}

/* JS collapse from w3schools https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* The title row/button of the artis info box */
.collapsible {
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    width: 240px;
    height: 320px;
    overflow: hidden;
    border: none;
    justify-content: center;
    
    display: flex;
    flex-flow: column wrap; /* flex-direction: row; */
    align-items: center;
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
    /* transition: 0.2s ease-out; */
}

/* Color when clicked (.active class with JS) and hover */
.active,
.collapsible:hover {
    background-color: #b7b7b7;
}

/* The Collapsible content, hidden by default */
.collapse-content {
    font-family: 'Space Mono', monospace;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.info-column {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(211, 211, 211);
    border-radius: 0px 0px 10px 10px;
}

footer {
    justify-content: center;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #32323d;
    max-height: 10rem;
}
footer p {
    font-size: 0.75rem;
    color: #797979;
    padding: 6px;
    text-align: center;
}
footer .logo {
    float: left;
}
footer .dark-btn {
    float: right;
}

/* Dark Mode */
.dark-mode, .dark-mode header, .dark-mode .container, .dark-mode footer, .dark-mode .sidebar, .dark-mode .content, .dark-mode .collapsible, .dark-mode .artistbox, .dark-mode .info-column, .dark-mode .artistpage-container {
    background-color: black;
    color: white;
    box-shadow: none;

}

/* Artist Page */
.artistpage-collapsible {
    text-align: center;
}
.artistpage-info-column {
    font-family: 'Space Mono', monospace;
}