body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.17em;
    transition: 0.2s ease-out;
}

p {
    margin: 0 0 10px 0;
}

.container {
    display: flex;
    height: 100vh;
    background-color: #e7e7e7;
}

.sidebar {
    width: 280px;
    background-color: #c1c1c1;
    padding: 20px;
    overflow-y: auto;
    /* Allow scrolling inside the sidebar */
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    /* Independent scrolling in the main window */
}

.country-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.country-checkboxes label {
    display: flex;
    align-items: center;
    min-width: 180px;
}

.artistcolumn {
    display: flex;
    flex-direction: column;
}

.artistbox {
    display: flex;
    flex-direction: column;
    max-width: 45rem;
    margin: 10px 30px;
    border-radius: 10px;
    box-shadow: 6px 8px 10px rgba(104, 104, 104, 0.244);
}

.artist-image {
    /* picture files are 240 by 240 */
    width: 120px;
    margin-right: 160px;
    transition: 0.2s ease-out;
}

/* JS collapse from w3schools https://www.w3schools.com/howto/howto_js_collapsible.asp */

/* The title row/button of the artis info box */
.collapsible {
    cursor: pointer;
    width: 100%;
    height: 60px;
    overflow: hidden;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(208, 208, 208);
    border-radius: 10px;
    transition: 0.2s ease-out;
}

/* Color when clicked (.active class with JS) and hover */
.active,
.collapsible:hover {
    background-color: #b7b7b7;
}

/* The Collapsible content, hidden by default */
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.info-column {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(211, 211, 211);
    border-radius: 0px 0px 10px 10px;
}