<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupies Page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        .spacing {
            padding: 4rem 0rem 4rem 0rem;;
        }
        .artistpage-content {
            margin: 1rem;
        }
    </style>
</head>

<body>
    {{ template "header" . }}

    <div class="artistpage-container">
        
        <div class="spacing">

            <h1 style="margin-left: 16px;">The Groupies</h1>
            <div class="artistcolumn">


                <!-- Markus -->
                <div class="artistpage-content">
                    <div class="artistpage-artistbox">
                        <div class="artistpage-collapsible">
                            <img src="https://clipart-library.com/images_k/golf-clipart-transparent/golf-clipart-transparent-22.png"
                                alt="DiscGolf Image" class="artistpage-artist-image" width="150"
                                style="border-radius: 5px;">
                            <div id="title">
                                <h3 style="font-size: 1.5em;">Markus</h3>
                            </div>
                        </div>
                        <div class="artistpage-info-column">
                            <p>Started in 19??</p><br>
                            <p><b>Likes:</b><br></p>
                            discgolf<br>

                            <br>
                            <p><a href="https://github.com/MarkusYPA/MarkusYPA">Groupie Page</a></p><br>
                        </div>
                    </div>
                </div>

                <!-- Ozzy -->
                <div class="artistpage-content">
                    <div class="artistpage-artistbox">
                        <div class="artistpage-collapsible">
                            <img src="https://img.clipart-library.com/24/10f6d30b-4ef1-4eec-9923-7c10158707f8.png"
                                alt="Ozzy Image" class="artistpage-artist-image" width="150"
                                style="border-radius: 5px;">
                            <div id="title">
                                <h3 style="font-size: 1.5em;">Ozzy</h3>
                            </div>
                        </div>
                        <div class="artistpage-info-column">
                            <p>Started in 20??</p><br>
                            <p><b>Likes:</b><br></p>
                            ping-pong<br>

                            <br>
                            <p><a href="https://github.com/OthmaneAfilali">Groupie Page</a></p><br>
                        </div>
                    </div>
                </div>

                <!-- Jedi -->
                <div class="artistpage-content">
                    <div class="artistpage-artistbox">
                        <div class="artistpage-collapsible">
                            <img src="https://clipart-library.com/newhp/free-curly-hair-cliparts-download-clip-art-on-wondeful-clipart-cheap-4.jpg"
                                alt="Jedi Image" class="artistpage-artist-image" width="150"
                                style="border-radius: 5px;">
                            <div id="title">
                                <h3 style="font-size: 1.5em;">Jedi</h3>
                            </div>
                        </div>
                        <div class="artistpage-info-column">
                            <p>Started in 19??</p><br>
                            <p><b>Likes:</b><br></p>
                            scrabble<br>

                            <br>
                            <p><a href="https://github.com/jeeeeedi">Groupie Page</a></p><br>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    {{ template "footer" . }}

    <script src="/static/ui-functions.js"></script>

</body>

</html>