{{ define "header" }}
<header>
    <div id="header-container">
        <nav id="desktop-nav">
            <ul id="desktop-nav-list">
                <li><a href="/groupie-tracker" class="logo"><img src="/static/guitarbrown.png" height="50" alt="logo" /></a></li>
                <li><a href="/groupie-tracker">Home</a></li>
                <li><a href="/groupie-tracker/about">About</a></li>
            </ul>
        </nav>
        <nav id="mobile-nav">
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul id="mobile-nav-list">
                <li><a href="/groupie-tracker">Home</a></li>
                <li><a href="/groupie-tracker/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>
{{end}}